.card{
    margin-top: 1rem ;
   margin-left: 0.1rem;
   margin-right: 0.1rem;
    
    border-color: aliceblue;
    border-radius: 1rem;
    max-width: 11rem;
    max-height: 30rem;
}

.lovesingh{
  
   margin-left: 2rem;
   margin-right: 2rem;
}

#searchplace{
    border-radius: 1.5rem;
}
.row{
    border-color: aliceblue;
    border-radius: 1rem;
    max-width: 12rem;
    max-height: 15rem

}
.card>img{
    border-radius: 0.9rem;
}
.row{
    position: absolute;
    display: none;
    left: 0.76rem;
    right: 1rem;
  width: 100%;
  height: 100%;
  color: white;
  padding: 0;
background-color: rgba(0, 0, 0, 0.637);


}
.card:hover .row{
    display: flex;
    align-items: flex-end;
    
    
}


